<!DOCTYPE html>
<html>
  <head>
    <title>Kotoha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("Kotoha","/") %>
    <%= link_to("about","/about") %>
    
    <% current_user = User.find_by(id: session[:user_id])%>
    
    <% if current_user %>
      <li>
        <%= link_to(current_user.name, "/user/#{current_user.id}/show") %>
      </li>
      <li>
        <%= link_to("投稿一覧", "/post/index") %>
      </li>
      <li>  
        <%= link_to("ユーザー一覧", "/user/index") %>
      </li>  
      <li>  
        <%= link_to("新規投稿", "/posts/new") %>
      </li>  
      <li>  
        <%= link_to("ログアウト", "/logout", {method: :post}) %>  
      </li>
        
    <% else%>
      <li>
        <%= link_to("新規登録", "/signup") %>
        <%= link_to("ログイン", "/login")%>
      </li>
      
    <% end %>
        
    <%= yield %>
  </body>
</html>
